.image1{
    margin-top: 20px;
    margin-left: 10px;
}
.image2{
    margin-left:495px;
    margin-top:-370px;
}
.image3{
    margin-left:980px;
    margin-top:-368px;
} 

.image4{
    margin-top: 20px;
    margin-left: 10px;
}
.image5{
    margin-left:495px;
    margin-top:-370px;
}
.image6{
    margin-left:980px;
    margin-top:-368px;
} 
.footer{
    width: 100%;
    height: 10rem;
    background-color: aqua;
    margin-top: 12rem;
} 

